
.body-style { background-color:#5B8FA9; }

.main-container {
  width:960px;
  margin:0 auto;
}

.section-title {
  font-weight: bold;
  color: #fff;
  margin-top:10px;
}

.section-title1 {
  font-weight: bold;
  color: #fff;
  padding-top:10px;
}

.required-fields {
  color:#FFFFFF;
  float:right;
  margin-top:10px;
}

.required-style { color:red; }

.content {
  background-color: #fff;
  margin: 5px 0;
  padding: 12px;
}

.field-area {
  margin:5px 0px;
  min-width:500px;
  height:17px;
  background-color: #4b4e54;
  padding-top:5px;
  padding-left:5px;
}

.field-title {
  color: #fff;
  font-weight: bold;
}

.field-title-num {
  font-weight: bold;
  padding:2px;
  color: #fff;
  background-color: red;
}

/*table and input*/
.table-style {
  color: #585858;
  border:1px solid #CCCCCC;
  margin:5px 0px;
  border-collapse:collapse;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.table-style1 {
  color: #585858;
  margin:5px 0px;
  border-collapse:collapse;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.table-style2 { width:100%; }

.table-header {
  color: #585858;
  border-right:1px solid #CCCCCC;
  background: url('../../../AddEditForm/web/img/optsbg_gr2.gif');
  font-weight:bold;
  padding:4px;
  vertical-align:middle;
}

.td-style2 {
  vertical-align:middle;
  margin:4px;
  border-right:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
}

.th-style1 { width:2.2%; }

.th-style2 { width:3.2%; }

.td-style {
  padding:2px;
  border-right:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
}

.td-style1 {
  width:20%;
  padding:2px;
  vertical-align:middle;
  border-right:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
}

.td-style3 { padding:0; }

.td-style4 { padding:2px; }

.input-style {
  color: #585858;
  border:1px solid #CCCCCC;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding:0 2px;
}

.input-style1 { width:100%; }

.input-style2 {
  color: #585858;
  width:150px;
  border:1.5px solid #CCCCCC;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.input-req-style{
  background-color:#fffccc;
  
} 
.select-style {
  height:20px;
  width:250px;
}

.select-style1 {
  color: #585858;
  padding:0px;
  margin-left:5px;
  width:440px;
  height: 100px;
}

/*end*/
.button-style2 {
  border: 1px solid #7cbc2e;
  background:url('../../../AddEditForm/web/img/1.gif');
  color: #ffffff;
  vertical-align:middle;
}

.button-style {
  border: 1px solid #7cbc2e;
  background:url('../../../AddEditForm/web/img/1.gif');
  color: #ffffff;
  vertical-align:middle;
}

.button-style:hover,
.button-style2:hover {
  border: 1px solid #7cbc2e;
  background:url('../../../AddEditForm/web/img/add-button-hover.gif');
  color: #ffffff;
}

.button-style:active,
.button-style2:active {
  border: 1px solid #7cbc2e;
  background:url('../../../AddEditForm/web/img/1.gif');
  color: #ffffff;
}

.button-style1 {
  border: 2px solid #9c9e9b;
  background:url('../../../AddEditForm/web/img/btn-bg.gif');
  height:20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #585858;
  padding:5px 20px 15px 20px;
  margin-top:5px;
}

.button-style1:hover {
  border: 2px solid #9c9e9b;
  background:url('../../../AddEditForm/web/img/btn-bg-focus.gif');
  height:20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #585858;
  margin-top:5px;
}

.button-style1:active {
  border: 2px solid #acabab;
  background:url('../../../AddEditForm/web/img/btn-bg.gif');
  height:20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #585858;
  margin-top:5px;
}

.percent { width:100%; }

.ico-del1 {
  display:block;
  background:url('../../../AddEditForm/web/img/ico_del_act2.gif') no-repeat;
  width:12px;
  height:12px;
  margin:0 auto;
}

.clear { clear:both; }

.link-style {
  color: #585858;
  margin-left:5px;
}

.link-style1 {
  color: #585858;
}

.link-style:hover,
.link-style1:hover { color:#7d7d7d; }

.btn-act-right {
  display:block;
  vertical-align:middle;
  background:url('../../../AddEditForm/web/img/btn_right_act.gif') no-repeat;
  width:13px;
  height:11px;
  margin:2px 4px;
  text-indent:-9999px;
  overflow:hidden;
}

.btn-act-right-dis {
  display:block;
  width:13px;
  height:11px;
  margin:0 auto;
  vertical-align:middle;
  display:none;
  background:url('../../../AddEditForm/web/img/btn_right_dis.gif') no-repeat;
   text-indent:-9999px;
  overflow:hidden;
}

.btn-act-left {
  display:block;
  vertical-align:middle;
  background:url('../../../AddEditForm/web/img/btn_left_act.gif') no-repeat;
  width:13px;
  height:11px;
  margin:4px 4px;
   text-indent:-9999px;
  overflow:hidden;
}

.btn-act-left-dis {
  display:block;
  vertical-align:middle;
  background:url('../../../AddEditForm/web/img/btn_left_dis.gif') no-repeat;
  width:13px;
  height:11px;
  margin:0 auto;
  display:none;
   text-indent:-9999px;
  overflow:hidden;
}
